* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: #f4f0e6;
  margin: 0;
  padding: 20px;
}

.container {
  max-width: 420px;
  margin: auto;
  background: #fffdf6;
  border-radius: 30px;
  padding: 20px;
}

/* HEADER */
.header {
  background: #6fd68c;
  color: white;
  font-size: 34px;
  text-align: center;
  padding: 18px;
  border-radius: 20px;
  margin-bottom: 20px;
}

/* DESKRIPSI */
.desc {
  font-size: 14px;
  text-align: center;
  line-height: 1.6;
  margin-bottom: 20px;
}

/* GAMBAR */
.gallery {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.gallery img,
.gallery-big img {
  width: 100%;
  border-radius: 12px;
}

.gallery-big {
  margin-top: 12px;
}

/* MENU */
.menu {
  display: flex;
  justify-content: space-around;
  margin: 25px 0;
}

.menu-item {
  text-decoration: none;
  color: black;
  text-align: center;
}

.menu-item img {
  width: 80px;
}

.menu-item span {
  display: block;
  margin-top: 8px;
  font-weight: bold;
}

/* CTA */
.cta {
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

/* SOSIAL */
.social {
  display: flex;
  justify-content: space-around;
  background: #b8c9a1;
  padding: 15px;
  border-radius: 20px;
}

.social img {
  width: 45px;
}
